.btn {
  margin-top: 50px;
  margin-bottom: 40px;
}

.catalog-preview-cta {
  @include media-breakpoint-up('md') {
    font-size: 22px;
    transition: color 0.1s linear, background-color 0.1s linear;

    &:hover {
      text-decoration: none;
      color: $white;
      background-color: $brand-main;
    }
  }
  text-decoration: none;
  font-family: 'Roboto';
  color: $brand-main;
  padding: 10px;
  border: 1px solid $brand-main;
  width: 83px;
  height: 32px;
}
